# Environnement
.envs
.env.local
.env.production
*.env
.env.prod
.todo

# Données sensibles
data/
logs/
scripts/deploy.sh
*.log

# OS
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
.jbeval/
client/local
.junie
deploy_*

# Documentation
site/